*{
  --color:rgb(28, 26, 94);
  --button-color:rgb(255, 255, 255);
  --button-bg:rgb(119, 143, 240);
  --success-color:rgb(44, 167, 78);
  --success-bg-color:rgb(232, 255, 193);
  --error-color:rgb(167, 44, 125);
  --error-bg-color:rgb(255, 193, 234);
}

a{
  text-decoration: none;
  color: var(--color);
}

.fa-thumbs-up{
  color: #39b64f ;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,"Nunito", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

/* Font size for screens between 768px and 1024px */
@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 16px;
  }
}

/* Font size for screens larger than 1024px */
@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}